<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script>
$(function(){
   $("#joinOk").bind("click",function(){
      $.ajax({
         type:"post",
         data :{"id" :$("#id").val()},
         url :"ajax2",
         success : function(responseData) {
			console.log(responseData);
			if(!responseData){
				alert("데이터가 없습니다.");
				return false;
			}
			var html = "이름 :"+responseData.memberName
			 	html +="주소 :" +responseData.memberAddr;
			$("#contaioner").html(html);
		}
         
      });
   });
   
});
</script>
</head>
<body>
<!-- div 데이터 뿌려주기 위한 영역  -->
<div id="contaioner"></div>
   <input type="text" id="id">
   <button id ="joinOk"> response사용</button>
   <button onclick="javascript:history.back();">뒤로가기</button>

</body>
</html>