<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#leftMenu {
	width: 25%;
	float: left;
	height: 500px;
	margin-right: 50px;
}

#memberInfo {
	float: left;
	border-left: 1px solid gray;
	padding-left: 50px;
	height: 500px;
}
</style>
</head>
<body>
	<ul id="leftMenu">
		<li><a href="goodsList">상품 리스트</a></li>
		<li><a href="goodsRegist">상품 등록</a></li>
		<li><a href="goodsIpgoList">상품 입고 현황</a></li>
		<li><a href="goodsIpgo">상품입고</a></li>
		<li><a href="purchaseList">주문 내역</a>
		<li><a href="goodsQuestion">상품 문의</a></li>
	</ul>
	<div id="memberInfo">
		<h2>입고현황</h2>
		<form action="goodsIpgoDels" method="post">
			<table border="1" width="600">
				<tr>
					<th>순서</th>
					<th>상품번호</th>
					<th>입고일</th>
					<th>수량</th>
					<th>제조일</th>
					<th><input type="submit" value="삭제"/></th>
				</tr>
				<tr th:each="goodsCommand , idx : ${list}">
					<th>[[${idx.count}]]</th>
					<th><a
						th:href="@{goodsIpgoDetail(goodsNum=${goodsCommand.goodsNum},
									ipgoDate=${#dates.format(goodsCommand.ipgoDate,'yyyy-MM-dd')})}">
							[[${goodsCommand.goodsNum}]]</a></th>
					<th>[[${#dates.format(goodsCommand.ipgoDate,'yyyy-MM-dd')}]]</th>
					<th>[[${goodsCommand.ipgoQty}]]</th>
					<th>[[${#dates.format(goodsCommand.madeDate,'yyyy-MM-dd')}]]</th>
					<th><input type="checkbox" name=delete th:value="${goodsCommand.goodsNum}+'`'+${#dates.format(goodsCommand.ipgoDate,'yyyy-MM-dd')}"/></th>
				<tr>
						<td colspan="6"><th:block th:if="${page <=1}">
				  			[이전]
				  	</th:block> <th:block th:if="${page >1}">
				  			[<a th:href="@{goodsIpgoList(page=${page -1})}">이전</a>]
				  	</th:block>
				  	<th:block th:each=" i : ${#numbers.sequence(startPage , endPage)}">
				  			[<a th:href="@{goodsIpgoList(page=${i })}">[[${i}]]</a>]
				  	</th:block>
				  	<th:block  th:if="${page <maxPage}"> 
				  			<a th:href="@{goodsIpgoList(page=${page+1})}">[이후]</a>
				  	</th:block>
				  	<th:block th:if="${page>=maxPage}">
							[이후]		
					</th:block></td>
					</tr>
			</table>
		</form>
	</div>
</body>
</html>