<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table width="800">
		<tr><td>주문일(결제번호)</td>
			<td>주문상태/주문번호</td>
			<td>이미지/상품명/주문번호</td>
			<td><button  id="del">선택 삭제</button></td></tr>
			
		<tr th:each="dto : ${list}">

			<td><th:block  th:if="${dto.confirmNumber == null}" >
				<input type="checkbox" name="prodCk" th:value="${dto.purchaseNum}"  id="prodCk"> 
				</th:block>
				<th:block  th:if="${dto.confirmNumber != null}" >
					<input type="checkbox" name="prodCk" disabled="disabled"  id="prodCk" >
				</th:block>
			</td>
			<td>[[${#dates.format(dto.purchaseDate , 'yyyy-MM-dd')}]] 
				(<span th:if="${dto.confirmNumber != null}" th:text="${dto.confirmNumber}"></span> 
				 <span th:if="${dto.confirmNumber == null}" th:text="입금대기중"></span>)</td>
			<td><img th:src="|/goods/upload/${dto.goodsMain}|" width="60">[[${dto.goodsName}]]/[[${dto.purchaseNum}]]</td>
			<td><a th:href="@{puchaseDetail(purchaseNum=${dto.purchaseNum})}">주문 상세 보기></a><br/>결제 금액 : [[${dto.totalPrice}]] <br/>[[${dto.purchaseStatus}]]
			
				<a th:if="${dto.purchaseStatus == '결제준비중'}" th:href="@{paymentOk(purchaseNum=${dto.purchaseNum} , totalPrice=${dto.totalPrice})}">결제하기</a>
				<a th:if="${dto.purchaseStatus == '결제완료' or dto.purchaseStatus =='상품준비중'}" th:href="@{paymentCancel(purchaseNum=${dto.purchaseNum} , totalPrice=${dto.totalPrice})}">결제취소</a>
				<a th:if="${!(dto.purchaseStatus == '결제완료' or dto.purchaseStatus =='배송완료')}"  th:href="@{paymentDel(purchaseNum=${dto.purchaseNum} , totalPrice=${dto.totalPrice})}">삭제하기</a>
			
				
			</td>
		</tr>	
	</table>
</body>
</html>